{% extends 'core/base.html' %}


{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

{% if error %}
<p class="red-text">{{ error }}</p>
{% endif %}

<div class="w-full max-w-7xl mx-auto px-4">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="text-2md font-bold">Login</span>
                <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="flex items-center justify-between">
                      <button class="mt-8 bg-yellow-300 hover:bg-yellow-400 text-navy-blue font-bold py-2 px-3 border border-yellow-400 rounded">
                        Login
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}