{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>
 {% block title %}{% endblock %} | E-Commerce
 </title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class= "max-w-4xl mx-auto py-4 flex items-center justify-between px-6 bg-sky-100">
        <div class="logo">
            <a href="/" class="text-indigo-950">E-Commerce</a>
        </div>
        <div class="menu flex space x-4">
            <a href="{% url 'about' %}" class="text-indigo-950 ">About</a>
        </div>
    </nav>
<div class="max-w-4xl mx-auto py-4 ">
    {% block content %}
    {% endblock %}
</div>