{% load menu %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>
 {% block title %}{% endblock %} | E-Commerce
 </title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class= "max-w-4xl mx-auto py-4 flex items-center justify-between px-6 bg-sky-100">
        <div class="logo">
            <a href="/" class="text-indigo-950">E-Commerce</a>
        </div>
        
        <div class="menu flex space-x-4">
            {% menu %}
        </div>
            
        <div class="menu flex space-x-4">
            {% if user.is_authenticated %}
             <a href="{% url 'my_store' %}" class="text-indigo-950">My Store</a>
             {% endif %}
             
             {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="text-gray-700 menu flex space-x-4">Logout</a>

            {% else %}
            <a href="{% url 'login' %}" class="text-gray-700">Login</a>
            <a href="{% url 'signup' %}" class="text-gray-700">Sign Up</a>  

            {% endif %}
        
             
        </div>
        
    </nav>
<div class="max-w-4xl mx-auto py-4 ">
    {% block content %}
    {% endblock %}
</div>