{%  extends "core/base.html" %}

{% block title %} {{ product.title }} {% endblock %}

{% block content %}
{% if product.image %}
<div class="image mb-6">
   <img src="{{ product.image.url }}" alt="{{ product.title }}" class="w-48">
</div>
   {% endif %}
    <h1 class="text-2xl">{{ product.title }}</h1> 
    <p class="text-xs text-gray-500">
        {{ product.price }}

        {% comment %} if exist show the name, if not the user  {% endcomment %}
        {% firstof product.user.get_full_name product.user.username %}
    </p>
    
    {% if product.description %}
        <p class="mt-4 text-gray-500">{{ product.description }}</p>
    {% endif %}

{% endblock %}